name: ci

on:
  push:
    branches: 'main'
  repository_dispatch:
    types: [webhook]

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

jobs:
  ci:
    runs-on: ubuntu-latest
    env:
      SHEET: ${{ github.event.client_payload.sheet }}
    steps:
      - run: echo 'The GH Actions workflow was triggered by an edit to the `$SHEET` sheet.'
