name: ci

on:
  repository_dispatch:
    types: [webhook]

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

jobs:
  ci:
    runs-on: ubuntu-latest
    env:
      SHEET: ${{ github.event.client_payload.sheet }}
      FILE: ${{ github.event.client_payload.file }}
    steps:
      - name: Output message
        run: echo "The GitHub Actions workflow was triggered by an edit to the '$SHEET' sheet of '$FILE'."
